.idea
**/**/yu
**/**/reddio_db
**/**/evm_bridge_db
.vscode

/test/tmp/
data
reddio
transfer_test
transfer_erc20_test
benchmark_test
uniswap_test
uniswap_benchmark_test
eth_benchmark_data.json
**/.env
**/.*.env
bin/