version: '3'

services:
  reddio:
    image: ghcr.io/reddio-com/reddio:latest
    restart: always
    volumes:
      - ./data/reddio_db:/reddio_db
      - ./data/yu:/yu
    ports:
      # p2p port
      -  8887:8887
      -  7999:7999
      -  8999:8999
      # ETH RPC port
      -  9092:9092
      # pprof port
      -  8080:8080
