enable_eth_rpc = true
eth_host = "0.0.0.0"
eth_port = "9092"


# [Module:Watcher]
enable_bridge = false
# note: need websocket rpc to listen to the L1 event
## use your own node address
l1_client_address = ""
l2_client_address = "http://localhost:9092"
parentlayer_contract_address = "0x9F7e49fcAB7eD379451e8422D20908bF439011A5"
childlayer_contract_address = "0xeC054c6ee2DbbeBC9EbCA50CdBF94A94B02B2E40"
# Used to collect L2->L1 cross-chain messages from L2 blocks. 'n' indicates collecting once every 'n' L2 blocks, collecting cross-chain messages from 'n' L2 blocks at a time.
l2_block_collection_depth = 5

bridge_port = "8888"
bridge_host = "0.0.0.0"
# Relayer processing batch size
relayer_batch_size = 500

[bridge_db_config]
dsn = "testuser:123456@tcp(localhost:3306)/testdb?charset=utf8mb4&parseTime=True&loc=Local"
driverName = "mysql"
maxOpenNum = 10
maxIdleNum = 5
