name: Benchmark

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Test
        run: make benchmark_test
